[python installs]
pip install discord discord.py[voice] cohere yt-dlp spotify-dl pynacl speechrecognition pyaudio pyttsx3 moviepy Pillow

[FFmpeg install]

Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
iwr -useb get.scoop.sh | iex
scoop install ffmpeg
